.home-banner {
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }    
 .banner-image {
       width: 70%;
       height: 70%;
       background-repeat: no-repeat;
     }