.navigation-a {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
.active-route {
  background-color: #2563eb;
  color: white;
}
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}
ul li {
  margin: 15px;
  display: inline;
}
a {
  display: inline-flex;
  align-items: center;
}
.mat-icon {
  margin: 5px;
  font-size: 25px;
}
